$d-green: #132A13;
$d-green-2: #31572C;
$mid-green: #4F772D;
$l-green: #90A955;
$l-green-2: #ECF39E;
$d-gray: rgb(30, 30, 30);

::-webkit-scrollbar {display: none;}

body {
    background-color: rgb(46, 55, 47);
    margin: 0;
    padding:0;
}
.bg-col {
    width: 80%;
    height: 200vh;
    background-color: rgb(65, 73, 63);
    display: flex;
    justify-content: center;
}
.header {
    width:99%;
    background-color: $d-gray;
    border: 3px $l-green solid;
    box-shadow: 0 0 3px $d-green-2;
    border-top: none;
    height: 5.5rem;
    border-radius: 0 0 0.75rem 0.75rem;
    display: flex;
    align-items: center;
    justify-content: space-around;
    position: absolute;

    &__logo {
        width: 15rem;
        height: auto;
    }

    &__src-bar {
        width: 20rem;
        height: 1.8rem;
        background-color: white;
        border-radius: 10rem;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        padding-right: 1rem;
        border: 1px black solid;
        transition: 0.15s;
        
        &__src-bar-input{
            margin-top: 0;
            border: none;
            height: 100%;
            width: 80%;
            border-radius: 10rem;
            padding: 0 1rem 0 1rem;
            outline: none;
            font-size: 12pt;
        }
    }
    &__src-bar:hover {
        border: 1px $l-green-2 solid;
        box-shadow: 0 0 3px $l-green;
    }
}

.main {
    width: 80%;
    border: 2px $l-green solid;
    background-color:$d-gray;
    box-shadow: 0 0 5px $l-green;
    height: 100%;
    margin-top: 8.5rem;
    border-radius: 0.7rem;
}

.margin-center {
    margin-right: auto;
    margin-left: auto;
}
.dropdown {
    position:absolute;
    margin-top: 1.2rem;
    justify-self: center;
}